<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--
    usage:認証プロキシがある場合には、以下の設定を変更してください。
         ProxyUrl:プロキシサーバーのURLです。例：http://proxy.foo.com:8080
         ProxyAccount:プロキシの認証アカウントIDです。例：kinakomotitti
         ProxyPassword:プロキシの認証パスワードです。例：123456789
         UseProxy:認証プロキシを使うかの設定です。<true/false>
    -->
    <add key="ProxyUrl" value=""/>
    <add key="ProxyAccount" value=""/>
    <add key="ProxyPassword" value=""/>
    <add key="UseProxy" value="false"/>

    <add key="HostName" value="academy2016.uipath.com"/>
    <add key="TenantName" value=""/>
    <add key="UserId" value=""/>
    <add key="Password" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
